.buton_search{
    background-color: #FFFCF2; /* колір фону кнопки */
    color: #011128; /* колір тексту */
    border: 2px solid #011128; /* з рамкою */
    padding: 20px 350px; /*відступи всередині кнопки */
    border-radius: 15px; /* закруглення країв */
    font-size: 18px; /* розмір шрифту */
    cursor: pointer; /* тип курсора при наведенні */
    transition: background-color 0.3s; /* анімація для фону */
    width: 250px; /* ширина кнопки */
    height: 30px; /* висота кнопки */
    display: flex; /* використовуємо flexbox */
    align-items: center; /* вирівнюємо елементи по вертикалі по центру */
    justify-content: flex-start; /* вирівнюємо елементи по горизонталі по лівому краю */
    position: absolute; /* фіксована позиція */
    top: 18vh; /* відступ від верхнього краю сторінки */
    left: 36vh; /* відступ від лівого краю сторінки */
}
.buton_search:hover {
    background-color: #CCD8E4; /* зміна кольору при наведенні */
}

.buton_filter {
    background-color: #FFFCF2; /* колір фону кнопки */
    color: #011128; /* колір тексту */
    border: 2px solid #011128; /* з рамкою */
    padding: 20px 30px; /* відступи всередині кнопки */
    border-radius: 15px; /* закруглення країв */
    font-size: 18px; /* розмір шрифту */
    cursor: pointer; /* тип курсора при наведенні */
    transition: background-color 0.3s; /* анімація для фону */
    width: 120px; /* зменшена ширина кнопки */
    height: 30px; /* зменшена висота кнопки */
    display: flex; /* використовуємо flexbox */
    align-items: center; /* вирівнюємо елементи по вертикалі по центру */
    justify-content: center; /* вирівнюємо елементи по горизонталі по центру */
    position: absolute; /* фіксована позиція */
    top: 18vh; /* відступ від верхнього краю сторінки */
    left: 125vh; /* відступ від лівого краю сторінки */
}

.buton_filter:hover {
    background-color: #CCD8E4; /* зміна кольору при наведенні */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color:#E4EBF3 /* Встановлення висоти <body> та <html> для коректної роботи відсоткових значень */
}
header, footer {
    height: 10vh; /* Висота header і footer як 10% від висоти вікна перегляду */
    display: flex;
    align-items: center; /* Центрування логотипу вертикально */
    justify-content: center; 
}

.logo {
    max-height: 80%; /* Максимальна висота логотипу відносно контейнера */
    max-width: 100%; /* Максимальна ширина логотипу відносно контейнера */
    /* Автоматичне зменшення розміру, якщо необхідно, але збереження пропорцій */
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFCF2;
    text-decoration: none;
}


header {
    background-color: #011128;
    color: #BDCCDB;
    padding: 15px 0;
}


.section1 {
    position: absolute;
    top: 28vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}

.section2 {
    position: absolute;
    top: 60vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}
.section3 {
    position: absolute;
    top: 92vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}
.section4 {
    position: absolute;
    top: 124vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}

.section5 {
    position: absolute;
    top: 156vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}

.section6 {
    position: absolute;
    top: 134vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}
.section7 {
    position: absolute;
    top: 156vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 35vh; 
}

.section8 {
    position: absolute;
    top: 178vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}

.section9 {
    position: absolute;
    top: 200vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}

.section10 {
    position: absolute;
    top: 222vh; /* відступ від верхнього краю сторінки плюс висота попередньої кнопки */
    left: 36vh; 
}
.big-button {
    display: inline-block;
    text-decoration: none;
    background-color: #FFFCF2;
    color: #011128;
    width: 419px; /* збільшуємо на 20% */
    height: 200px; /* збільшуємо на 20% */
    padding: 24px 214.8px; /* збільшуємо на 20% */
    border: 2px solid #CCD8E4;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.big-button img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-left: -160px;
    vertical-align: middle;
}

.big-button span {
    vertical-align: middle;
}

.big-button:hover {
    background-color: #CCD8E4;
}




.pagination {
    position: absolute;
    top: 250vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.pagination span {
    margin-right: 10px;
}

.pagination .next-page {
    text-decoration: none;
    color: #011128;
    font-weight: bold;
}