body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%;
  width: 100%; */
  background-color: #E4EBF3;

}

.long-content {
  min-height: 1350px;
  text-align: center;
  padding-top: 250px;
  /* min-height: 1350px;  */
}

h1 {
  margin-bottom: 0.5em;
  font-size: 6em;
}

.montserrat-medium {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* header */

header {
  z-index: 6;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #011128;
  color: #E4EBF3;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}

.header-text {
  font-size: 1.3em;
}

.logo {
  max-height: 80%;
  max-width: 100%;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #FFFCF2;
  text-decoration: none;
}


/* main page */

main {
  /* padding: 25vh 0; */
  /* background-color: #E4EBF3; */
  /* text-align: center; */
  padding: 18vh 4vh 4vh;
  background-color: #E4EBF3
}

.main-block {
  justify-content: space-between;
}

.find_ap {
  font-size: 2em;
}


.adress {
  font-size: 1.5em;
}

button {
  padding: 0.5em 1em;
  margin-top: 2em;
  background-color: #011128;
  color: #FFFCF2;

  background-color: #011128;
  color: #FFFCF2
}


.main-main-text {
  margin: 5vh;
  text-align: left;
  font-size: 24px;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 20vh;
  line-height: 1.5;
}

.photo-desciption {
  width: 100%;
  height: 100%;
}

.photo-desciption {
  width: 100%;
  height: 100%;
}


.styled-button {
  background-color: #011128;
  color: #FFFCF2;
  border: none;
  padding: 25px 50px;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5em 1em;
  margin-top: 2em;
  background-color: #011128;
  color: #FFFCF2;
  border: none;
  padding: 25px 50px;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: #1A2E8C;
}

.big-photo {
  width: 80%;
  height: 100%;
}

/* search page */

.flex {
  display: flex;
}

.width-100 {
  width: 100%;
}



.desc {
  height: max-content;
  justify-content: space-between;
}

.container {
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}


.img-adver-section {
  object-fit: contain;
  object-position: center;
  height: 250px;
  width: 280px;
}

.slaider {
  margin: 5% 40%;
}

.adver-section {
  background-color: #FFFCF2;
  color: #011128;
  border: 2px solid #011128;
  border-radius: 15px;
  font-size: 18px;
  /* cursor: pointer; */
  transition: background-color 0.3s;
  margin-bottom: 1.2%;
  padding-right: 20px;
}

.adver-text {
  overflow: hidden;
  word-wrap: break-word;
}

.adver-description-item {
  display: inline-block;
  border: 1px solid #011128;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 10px 0;
}

.adver-title {
  font-size: 26px;
}


/* filters */
.filters {
  width: 15%;
}

.filter-item {
  margin-bottom: 1vh;
}

.filter-item label {
  display: block;
  margin-bottom: 0.33vh;
}


input[type="submit"] {
  background-color: #BCC596;
  color: white;
  padding: 1vh 1.5vh;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.filter-item input,
.filter-item select {
  background-color: #FFFCF2;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #333333;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.form-control {
  background-color: #FFFCF2;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #333333;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.sort-select {
  width: 110% !important;

}

/* team page */

.main-team-text {
  margin: 5vh;
  text-align: center;
  font-size: 24px;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 1vh;
  line-height: 1.5;
}

.main-team {
  text-align: center;
}

.photos {
  padding-bottom: 10vh;
}
.photos-img{
  height: 100%;
  width: 24%;
}

/* footer */

.footer-distributed {
  background-color: #011128;
  ;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5vh 5vh;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.bi-arrow-up-circle-fill {
  margin-left: 70vh;
  margin-top: -10vh
}

.footer-distributed .footer-left {
  width: 40%;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #FFFCF2;
  margin: 2vh 0 3vh;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-left {
  width: 40%;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #FFFCF2;
  margin: 2vh 0 3vh;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #FFFCF2;
  font-size: 8px;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 8px;
  line-height: 0;
}

.footer-distributed .footer-center p a {
  color: #072f75;
  text-decoration: none;
}






.slider-wrap {
  position: relative;
  overflow: hidden;

}

.slider-main {
  height: 50vh;
  overflow: hidden;

  /* position: absolute; */
}

.slider-main .item {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-main .item img {
  margin: 0 5%;
  display: block;
}

.wdth-80 {
  width: 80%;
}

/* .sld_and_but{
  width: 100%;
} */

.space_round {
  justify-content: space-around;
}

.center-d {
  /* margin: auto; */
  margin-right: 5%;
  width: 280px;
  position: relative;
  flex-shrink: 0;
  height: 250px;
}

.btns-sl {
  margin-top: 0;
  cursor: pointer;
  background: none;
  color: #FFFCF2;
  border: 0;
  /* opacity: 0.8; */
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;

}

.btns-sl:hover {
  color: black;

}

.prev {
  left: 3%;
}

.next {
  right: -3%;
}

.page-item a {
  color: black;
}

/* .active_but{

} */

.nav-text {
  border-radius: 0.5vh;
  border: 0.2vh solid #011128;
  z-index: 7;
}

.nav-text:hover {
  border-radius: 0.5vh;
  border: 0.2vh solid rgb(255, 252, 242);
  z-index: 7;
}

.header-text li a {
  border-color: #011128;
  padding: 1vh;
  border-radius: 0.5vh;
  transition: 0.1s;
}

/* .header-text li a:hover{
  border-radius: 0.5vh;
  border: 0.2vh solid rgb(255, 252, 242);
} */

.bi-file-arrow-down{
  opacity: 0;
}
a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 767px) {
  body {
    background-color: lightblue;
  }
}

.page-current {
  /* border-radius: 20%; */
  border-bottom: 0.3vh solid #011128;
}

.page-item {
  padding: 0.2vh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #011128; */
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 10vh;
  height: 10vh;
  border: 2vh solid red;
  border-top-color: #011128;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E4EBF3;
    width: 100%;
  }
  .photos-img{
    height: 70%;
    width: 40%;
  }
  .photos {
    padding-bottom: 10vh;
  }
  main {
    padding: 16vh 2vh 2vh;
    background-color: #E4EBF3;
  }

  .main-block {
    justify-content: space-between;
    flex-direction: column;
  }
  

  .header-text {
    font-size: 0.8em;
  }

  .logo {
    max-height: 49%;
  }
  
  header {
    z-index: 6;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #011128;
    color: #E4EBF3;
    padding: 15px 0;
    position: fixed;
    width: 100%;
  }

  nav ul li {
    margin: 0 0;
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 4em;
  }

  .main-main-text,
  .adress,
  .find_ap,
  .main-team-text {
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

  .big-photo,
  .photo-desciption {
    width: 100%;
    height: auto;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100% !important;
    text-align: center;
    margin: 0 auto;
    padding: 1vh 0;
  }

  .footer-distributed .footer-links,
  .footer-distributed .footer-company-name,
  .footer-distributed .footer-center p,
  .footer-distributed .footer-links a {
    font-size: 14px;
  }

  .bi-arrow-up-circle-fill {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
  }

  .filters {
    width: 100%;
  }
  .filter-item {
    display: none;
    width: 92%;
  }

  #toggle:checked~#searchForm .filter-item {
    display: block;
  }

  .dropbtn {
    display: block;
    cursor: pointer;
    background-color: #FFFCF2;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    /* transition: 0.3ms; */
  }
  /* .dropbtn:hover{
    background-color: #072f75;
  } */


  .img-adver-section {
    object-fit: contain;
    object-position: center;
    height: 100px;
    width: 112px;
  }

  .slaider {
    margin: 5% 40%;
  }

  .adver-section {
    background-color: #FFFCF2;
    color: #011128;
    border: 2px solid #011128;
    border-radius: 15px;
    font-size: 9px;
    transition: background-color 0.3s;
    margin-bottom: 1.2%;
    padding-right: 10px;
  }

  .adver-text {
    overflow: hidden;
    word-wrap: break-word;
  }

  .adver-description-item {
    display: inline-block;
    border: 1px solid #011128;
    border-radius: 3px;
    padding: 3px;
    margin: 0 3px 3px 0;
  }

  .adver-title {
    font-size: 10px;
  }

  .center-d {
    margin-right: 5%;
    width: 112px;
    position: relative;
    flex-shrink: 0;
    height: 100px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .btns-sl {
    margin-top: 0;
    cursor: pointer;
    background: none;
    color: #FFFCF2;
    border: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;

  }

  .btns-sl:hover {
    color: black;

  } 

  .prev {
    left: -2%;
  }
  
  .next {
    right: -7%;
  }

}
  .bi-file-arrow-down{
    background-color: #FFFCF2;
    opacity: 100%;
    margin-left: 70%;
    width: 7%;
    height: 7%;
  }
@media screen and (min-width: 769px) {
  .filter-item {
    display: block;
  }
  

  .dropbtn,
  #toggle {
    display: none;
  }
}

@media screen and (max-width: 768px){
  .wdth-80{
    width: 100%;
  }
}