<!DOCTYPE html>
<html lang="uk">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename = 'imgs/logo.png') }}" alt="Nest Navigator" class="logo">
    <nav>
        <ul class="header-text">
            <li><a class="active">Головна сторінка</a></li>
            <li><a href="{{ url_for('search') }}">Пошук</a></li>
            <li><a href="{{ url_for('team') }}">Про нас</a></li>
        </ul>
    </nav>
  </header>

    <main class="long-content">
        <h1 class="h2">Nest Navigator</h1>
        <p class="find_ap">Знайди житло, про яке так давно мрієш!</p>
        <button class="styled-button">Почати пошук</button>
        <p class="main-text"><strong>Nest Navigator</strong> — це інноваційний онлайн-ресурс, створений для спрощення пошуку ідеального житла для оренди. Наша місія полягає в тому, щоб зробити процес пошуку житла максимально зручним та ефективним для кожного користувача.
            <br>
            <strong>Чому варто обрати нас?</strong>
            <br>
            <strong>Широкий Вибір Оголошень:</strong> Ми агрегуємо оголошення з різноманітних джерел, надаючи вам доступ до широкої бази житлових пропозицій в одному місці.<br>
            <strong>Персоналізований Пошук:</strong> Наші інтелектуальні фільтри дозволяють налаштувати пошук згідно вашим уподобанням - будь то ціна, розташування, площа житла чи інші важливі параметри.<br>
            <strong>Зручність та Простота:</strong> Ми прагнемо зробити ваш досвід користування нашим сайтом максимально комфортним, завдяки інтуїтивно зрозумілому інтерфейсу та швидкому доступу до інформації про кожне оголошення.<br>
            <strong>Актуальність Інформації:</strong> Наша команда постійно працює над оновленням бази даних, щоб ви могли бути впевнені у актуальності всіх оголошень.<br>
            <strong>Підтримка Користувачів:</strong> Ми цінуємо кожного нашого користувача і готові надати допомогу або відповісти на будь-які ваші запитання протягом усього процесу пошуку житла.<br>
            Наша Мета<br>
            <br>
            Ми прагнемо стати вашим надійним помічником у пошуку ідеального місця для життя. Розуміючи важливість та складність цього процесу, ми постійно розвиваємось та вдосконалюємо наш сервіс, щоб забезпечити вам доступ до найкращих пропозицій на ринку.<br>
            
            З <strong>Nest Navigator</strong> пошук житла стає простішим, швидшим та приємнішим. Розпочніть свій пошук вже сьогодні та зробіть крок назустріч новому дому!</p>
    </main>
    <img src="{{ url_for('static', filename = 'imgs/photo_over.jpg')}}" class="photo-desciption">
    <footer class="footer-distributed">

        <div class="footer-left">
  
          <IMG SRC="{{ url_for('static', filename = 'imgs/logo.png')}}" ALT="" WIDTH=225 HEIGHT=100>
  
          <p class="footer-links">
            <a href="main_page.html">Головна сторінка</a> ·
            <a href="{{ url_for('search') }}">Пошук</a> ·
            <a href="{{ url_for('team') }}">Про нас</a> ·
          </p>
  
          <p class="footer-company-name">N&N &copy; 2024</p>
        </div>
  
        <div class="footer-center">
  
          <div class='adress'>
            <i class="fa fa-map-marker"></i>
            <p>УКУ, Козельницької 2а <br> Львів, Україна</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+380990900001</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">nnavigator@gmail.com</a></p>
          </div>
          <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#E4EBF3" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
          </svg>
        </a>
        </div>
      </footer>
</body>
</html>