<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    <script src="{{ url_for('static', filename = 'jscripts/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
</head>

<body>
    <script>
        lazyload();
    </script>
    <header>
        <img src="{{ url_for('static', filename = 'imgs/logo.png') }}" alt="Nest Navigator" class="logo">
        <nav>
            <ul class="header-text">
                <li><a href="{{ url_for('main') }}">Головна сторінка</a></li>
                <li><a class="active" href="{{ url_for('search') }}">Пошук</a></li>
                <li><a href="{{ url_for('team') }}">Про нас</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <button class="button_search">Search</button> -->
        <div class="flex width-100">
            <div class="filters">
                <form id="searchForm" action="" method="post" autocomplete="off">
                    <div class="filter-item">
                        <label for="city">Місто:</label>
                        <input type="text" class="form-control" name="city_tag" autocomplete="off" placeholder="Введіть місто"  value="{{ filters.get('city', '') }}"/>
                    </div>
                    <div class="filter-item">
                        <label for="price">Ціна:</label>
                        <input type="number" class="form-control" name="min_price_tag" min="0" placeholder="Мінімальна ціна" value="{{ filters.get('district', '') }}"/>
                        <input type="number" class="form-control" name="max_price_tag" placeholder="Максимальна ціна" value="{{ filters.get('min_area', '') }}"/>
                    </div>
                    <div class="filter-item">
                        <label for="rooms">Кімнати:</label>
                        <input type="number" class="form-control" name="min_rooms_tag" min="0" placeholder="Введіть мін. кількість кімнат" value="{{ filters.get('max_area', '') }}"/>
                        <input type="number" class="form-control" name="max_rooms_tag" placeholder="Введіть мак. кількість кімнат" value="{{ filters.get('min_price', '') }}"/>
                    </div>
                    <div class="filter-item">
                        <label for="area">Площа (м²):</label>
                        <input type="number" class="form-control" name="min_area_tag" min="0" placeholder="Введіть мін. площу" value="{{ filters.get('max_price', '') }}"/>
                        <input type="number" class="form-control" name="max_area_tag" placeholder="Введіть мак. площу" value="{{ filters.get('min_rooms', '') }}"/>
                    </div>
                    <div class="filter-item">
                        <label for="region">Район:</label>
                        <input type="text" class="form-control" name="district_tag" placeholder="Введіть район" value="{{ filters.get('max_rooms', '') }}"/>
                    </div>
                    <div class="col-6" align="center">
                        <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                    </div>
                    <select name="" id="">
                        <option value="" name="sort_max_price_tag">Do not sort</option>
                        <option value="" name="sort_max_price_tag">Sort by max price</option>
                        <option value="" name="sort_min_price_tag">Sort by min price</option>
                        <option value="" name="sort_max_pricearea_tag">Sort by max price/area</option>
                        <option value="" name="sort_min_pricearea_tag">Sort by min price/area</option>
                    </select>
                    <!-- <input type="checkbox" class="form-check-input" name="sort_max_price_tag" value="1" {% if filters.get('sort_max_price') %}checked{% endif %}>Sort by max price
                    <input type="checkbox" class="form-check-input" name="sort_min_price_tag" value="1" {% if filters.get('sort_max_price') %}checked{% endif %}>Sort by min price
                    <input type="checkbox" class="form-check-input" name="sort_max_pricearea_tag" value="1" {% if filters.get('sort_max_price') %}checked{% endif %}>Sort by max price/area
                    <input type="checkbox" class="form-check-input" name="sort_min_pricearea_tag" value="1" {% if filters.get('sort_max_price') %}checked{% endif %}>Sort by min price/area -->
                </form>
                <form action="{{ url_for('reset') }}" method="post">
                    <input type="submit" value="Reset Filters" class="form-control btn btn-secondary">
                </form>
            </div>

            <!-- <div class="filters">
                <form id="searchForm">
                    <div class="filter-item">
                        <label for="city">Місто:</label>
                        <select id="city">
                            <option value="">Виберіть місто</option>
                            <option value="Львів">Львів</option>
                            <option value="Київ">Київ</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="price">Ціна:</label>
                        <input type="number" id="priceMin" placeholder="Мін">
                        <input type="number" id="priceMax" placeholder="Макс">
                    </div>
                    <div class="filter-item">
                        <label for="rooms">Кімнати:</label>
                        <select id="rooms">
                            <option value="">Будь-яка кількість</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3+</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="area">Площа (м²):</label>
                        <input type="number" id="areaMin" placeholder="Мін">
                        <input type="number" id="areaMax" placeholder="Макс">
                    </div>
                    <div class="filter-item">
                        <label for="region">Район:</label>
                        <select id="region">
                            <option value="">Спочатку виберіть місто</option>
                        </select>
                    </div>
                    <button type="submit">Пошук</button>
                </form>
            </div> -->

            <div class="container width-100">
                <input class="button-search" placeholder="Search"></input>

                {% for apartament in apartaments.items %}

                <div class="flex adver-section">
                    <div class="flex desc space_round">
                        <div class="flex sld_and_but">

                            <div class="flex center_d">

                                <button class="prev btns-sl" onclick="prev(this)">&#10094</button>

                                <div class="slider-wrap">
                                    <div class="slider-main">
                                        {% for el in apartament.images.split(',') %}
                                            <div class="item">
                                                <img class="img-adver-section lazyload" src="{{ el }}" alt="">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <button class="next btns-sl" onclick="next(this)">&#10095</button>

                            </div>

                        </div>
                        
                        <div class='adver-text'>
                            <h2><a href="{{ apartament.url }}">{{ apartament.name.split(', ', maxsplit = 1)[1] }}</a></h2>
                            <div class="flex space_round">
                                <p>{{ apartament.area }} м²</p>
                                <div class="flex">
                                    <p>{{ apartament.price }}</p>
                                    <p>{{ apartament.currency }}</p>
                                </div>
                                <p>K-сть кімнат: {{ apartament.rooms }}</p>
                                <p>{{ apartament.district }}</p>
                                <p>{{ apartament.city }}</p>
                                <p>{{ apartament.price_per_meter }} UAH</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                <!-- <div class="col-12 slaider">
                    <div class="pagination d-flex justify-content-center mt-5">
                        <a href="#" class="rounded">&laquo;</a>
                        <a href="#" class="active rounded">1</a>
                        <a href="#" class="rounded">2</a>
                        <a href="#" class="rounded">3</a>
                        <a href="#" class="rounded">4</a>
                        <a href="#" class="rounded">5</a>
                        <a href="#" class="rounded">6</a>
                        <a href="#" class="rounded">&raquo;</a>
                    </div>
                </div> -->

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      {% if apartaments.has_prev %}
                      <li class = "page-item"> <a class="page-link" href = "{{ url_for('search', page = apartaments.prev_num)  }}">Previous</a></li>
                      {% else %}
                      <li class = "page-item"> <a class="page-link btn disabled" href = "#">Previous</a></li>
                      {% endif %}
            
                      {% for page in apartaments.iter_pages(left_edge = 3, right_edge = 3) %}
                      {% if page %}
            
                          {% if page == apartaments.page %}
                              <li class = "page-item active"><a class="page-link" href="{{ url_for('search', page=page)}}">{{ page }}</a></li>
                          {% else %}
                          <li class = "page-item"><a class="page-link" href="{{ url_for('search', page=page)}}">{{ page }}</a></li>
                          {% endif %}
            
            
                      {% else %}
                          <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">...</a></li>
                      {% endif %}
                      {% endfor %}
            
                      {% if apartaments.has_next %}
                      <li class = "page-item"> <a class="page-link" href = "{{ url_for('search', page = apartaments.next_num) }}">Next</a></li>
                      {% else %}
                      <li class = "page-item"> <a class="page-link btn disabled" href = "#">Next</a></li>
                      {% endif %}
                    </ul>
            
                </nav>
                
            </div>

        </div>

    </main>
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var citySelect = document.getElementById('city');
            var regionSelect = document.getElementById('region');

            var regionsByCity = {
                'Львів': ['Галицький', 'Шевченківський', 'Сихівський', 'Залізничний', 'Франківський', 'Личаківський'],
                'Київ': ['Печерський', 'Шевченківський', 'Солом\'янський', 'Подільський', 'Дарницький', 'Голосiївський', 'Деснянський', 'Днiпровський', 'Оболонський', 'Святошинський']
            };

            citySelect.addEventListener('change', function () {
                var selectedCity = this.value;
                var regions = regionsByCity[selectedCity] || [];

                regionSelect.innerHTML = '<option value="">Виберіть район</option>';
                regions.forEach(function (region) {
                    var option = new Option(region, region);
                    regionSelect.add(option);
                });
            });
        });

    </script> -->
    <footer class="footer-distributed">

        <div class="footer-left">

            <IMG src="{{ url_for('static', filename = 'imgs/logo.png') }}" ALT="" WIDTH=225 HEIGHT=100>

            <p class="footer-links">
                <a href="{{ url_for('main') }}">Головна сторінка</a> ·
                <a>Пошук</a> ·
                <a href="{{ url_for('team') }}">Про нас</a>
            </p>

            <p class="footer-company-name">N&N &copy; 2024</p>
        </div>

        <div class="footer-center">

            <div class='adress'>
                <i class="fa fa-map-marker"></i>
                <p>УКУ, Козельницької 2а <br> Львів, Україна</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+380990900001</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">nnavigator@gmail.com</a></p>
            </div>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#E4EBF3"
                    class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
                </svg>
            </a>
        </div>
    </footer>


</body>

</html>