<!DOCTYPE html>
<html lang="uk">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename = 'imgs/logo.png') }}" alt="Nest Navigator" class="logo">
        <nav>
            <ul class="header-text">
                <li><a href="{{ url_for('main') }}">Головна сторінка</a></li>
                <li><a href="{{ url_for('search') }}">Пошук</a></li>
                <li><a class="active_but" href="{{ url_for('team') }}">Про нас</a></li>
            </ul>
        </nav>
    </header>
    <main class='main-team'>
        <p class = 'main-team-text'> 
            У серці <strong> Nest Navigator </strong> лежить група натхненних студентів з Українського Католицького Університету,<br>
            об'єднаних спільною ідеєю – спростити пошук ідеального житла для оренди. Ми – команда творців, <br>
            мрійників і технологічних ентузіастів, які вірять у силу інновацій та співпраці.
        </p>
        <div class="photos">
            <img src="{{ url_for('static', filename = 'imgs/Sofiia_Hembara_frame.png') }}" alt="Photo S.Hembara">
            <img src="{{ url_for('static', filename = 'imgs/Sofiia_Baz_frame.png') }}" alt="Photo S.Baz">
            <img src="{{ url_for('static', filename = 'imgs/Victor_frame.png') }}" alt="Photo Victor">
            <img src="{{ url_for('static', filename = 'imgs/Bohdan_frame.png') }}" alt="Photo Bohdan">
        </div>
    </main>
    <footer class="footer-distributed">

        <div class="footer-left">
  
          <IMG SRC="{{ url_for('static', filename = 'imgs/logo.png') }}" ALT="" WIDTH=225 HEIGHT=100>
  
          <p class="footer-links">
            <a href="{{ url_for('main') }}">Головна сторінка</a> ·
            <a href="{{ url_for('search') }}">Пошук</a> ·
            <a>Про нас</a> 
          </p>
  
          <p class="footer-company-name">N&N &copy; 2024</p>
        </div>
  
        <div class="footer-center">
  
          <div class='adress'>
            <i class="fa fa-map-marker"></i>
            <p>УКУ, Козельницької 2а <br> Львів, Україна</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+380990900001</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">nnavigator@gmail.com</a></p>
          </div>
          <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#E4EBF3" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
          </svg>
        </a>
        </div>
      </footer>